documentation.list
harbour-whisperfish
whisperfish
RPMS/
rpmbuilddir/
vendor/
moc_*.cpp
moc_*.go
moc_*.h
moc.*
qml/i18n/whisperfish_*.qm
harbour-whisperfish.pro.user

harbour-whisperfish.o
translations/*.qm
libsignal-build/


# cargo
/target
**/*.rs.bk
.env
releases
whisperfish.wiki
