[Unit]
Description=Whisperfish - Private messaging using Signal for SailfishOS
Requires=lipstick.service
After=lipstick.service

[Service]
Type=dbus
BusName=be.rubdos.whisperfish
ExecStart=/usr/bin/sailjail -p harbour-whisperfish -- /usr/bin/harbour-whisperfish -prestart

[Install]
WantedBy=post-user-session.target
