[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Whisperfish
X-Nemo-Application-Type=qtquick2
X-Nemo-Single-Instance=no
Exec=harbour-whisperfish
Icon=harbour-whisperfish
X-Desktop-File-Install-Version=0.20

[X-HarbourBackup]
BackupPathList=.config/harbour-whisperfish/:.local/share/harbour-whisperfish/:.config/be.rubdos/harbour-whisperfish/
#BackupConfigList=/apps/harbour-whisperfish/

[X-Sailjail]
Permissions=Internet;Pictures;Contacts;Notifications;Phone;Privileged;Mozilla;MediaIndexing;Downloads;UserDirs;WebView;Camera;RemovableMedia
OrganizationName=be.rubdos
ApplicationName=harbour-whisperfish
