[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
X-Nemo-Single-Instance=no
Exec=be.rubdos.harbour.whisperfish
Icon=be.rubdos.harbour.whisperfish
Name=Whisperfish


[X-Application]
Permissions=Internet;Pictures;MediaIndexing;Documents;Downloads;Music;Videos;Audio;UserDirs;WebView;Camera;Microphone;RemovableMedia;PublicDir;
OrganizationName=be.rubdos
ApplicationName=harbour.whisperfish
ExportDBusInterfaces=be.rubdos.harbour.whisperfish
ExecDBus=/usr/bin/be.rubdos.harbour.whisperfish --prestart
