[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Whisperfish
X-Nemo-Application-Type=silica-qt5
X-Nemo-Single-Instance=no
Exec=be.rubdos.harbour.whisperfish
Icon=be.rubdos.harbour.whisperfish
X-Desktop-File-Install-Version=0.20


[X-Sailjail]
Permissions=Internet;Pictures;MediaIndexing;Documents;Downloads;Music;Videos;Audio;UserDirs;WebView;Camera;Microphone;RemovableMedia;PublicDir;
OrganizationName=be.rubdos
ApplicationName=harbour.whisperfish
ExportDBusInterfaces=be.rubdos.harbour.whisperfish
ExecDBus=/usr/bin/be.rubdos.harbour.whisperfish --prestart
