[Unit]
Description=Whisperfish - Private messaging using Signal for SailfishOS
Requires=lipstick.service
After=lipstick.service

[Service]
Type=dbus
BusName=be.rubdos.whisperfish
ExecStart=/usr/bin/invoker --type=qtquick2 /usr/bin/harbour-whisperfish --autostart

[Install]
WantedBy=post-user-session.target
